@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Linear+B&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



/* MY CSS */


* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0f;
  color: white;
}

h1 {
  text-align: center;
  padding: 0.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
body.button {
  font-family: 'Roboto', sans-serif;
  background-color: #5c5c8a;
  color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: .5rem;
}

.demo-desc {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demo-paragraphs p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.demo-link {
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 3%;
  text-decoration: bold;
  background-color: #6129f0;
  text-align: center;
}


@media (max-width: 500px) {
  h1 {
    font-size: 1.3rem;
  }
}

/* LOG IN */

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 3rem 1rem;
  border: 1px solid grey;
  border-radius: 1%;
}

.login-container h1 {
  margin-bottom: 2rem;
  color: #8055ed;
  font-weight: 900;
  font-size: 1.5rem;
}
.login-form {
  width: 80%;
}

.login-item {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

@media (max-width: 500px) {
  .login-container {
    width: 80%;
  }

  .demo-desc {
    text-align: center;
  }
}
 
/* NAV BAR */

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: linear-gradient(to right, #3d3d5c, #8585ad);
  align-items: center;
  gap: 2rem; 
  padding: 0 1rem;
}
.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  max-width: 90%;
}
.navbar h2 {
  font-size: 2rem;
  padding: 1rem;
  font-weight: normal;
  max-width: 90%;
}

.navbar .link {
color: inherit;
text-decoration: none;
}

@media (max-width: 500px) {
  .navbar{
    padding: 0;
    gap: 0;
    font-size: 1rem;
    justify-content: center;
  }
.navbar h2 {
  font-size: 1.5rem;
  text-align: center;
}
.navbar li {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  text-align: center;
}
}
/*EXPENSE FORM PAGE */
.event-buttons {
  display: flex;
  justify-content: center;
}
.expense-form {
  position: relative;
  background: #f0f0f5;
  color: black;
  border: 1px solid white;
  padding: 2rem;
  margin: 1rem 5rem;
  border-radius: .5rem;
}

.form-control {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: .5rem;
  display: flex;
  flex-wrap: wrap;
}

.expense-form h1 {
  padding-bottom: 1rem;
}
.expense-form label {
  font-family: 'Noto Sans Linear B', sans-serif;
  padding: 0 .5rem;
}

.expense-form select, input {
  background-color: #d1d1e0;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.expense-form textarea {
  background-color: #d1d1e0;
  border: none;
  border-radius: 10px;
  height: 100px;
  width: 100%;
  resize: none;
  box-sizing: border-box;
  margin: 1rem;
  padding: 1rem;
}

.error {
  color: red;
  text-align: left;
}

.submit-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  color: black;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  border-radius: .5rem;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  
}

@media (max-width: 500px) {
  .expense-form {
    margin: 0 1rem;
    flex-direction: column;
  }

  .expense-form label {
    padding: 1rem 0 1rem 0;
  }

  .form-control {
    flex-direction: column;
  }
  .form-control label, select, p, textarea, input {
    padding: 0;
    max-width: 90%;
  }
}

/*TOUR FORM */

.tour-form {
  position: relative;
  background: white;
  color: black;
  border: 1px solid black;
  padding: 2rem;
  margin: 1rem;
  border-radius: .5rem;
  font-family: Arial;

}


.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

}

/* TOUR PAGE */
.tour-page {
  position: relative;
  background: #f0f0f5;
  color: black;
  border: 1px solid black;
  padding: 2rem;
  margin: 1rem 2rem;
  border-radius: .5rem;
}

.tour-page h2 {
 font-size: 1rem;
 padding: 0.5rem;
}

.tour-list, ol {
  margin: 2rem;
  font-size: 1.5rem;
  list-style: none;
}

.show-list, ul {
  margin: 2rem;
  list-style: none;
}

@media (max-width: 500px) {
  .tour-ledger {
    max-width: 90%;
  }
  .ledger-item {
    font-size: 13px;
  }

  
}

/* EVENT PAGE */
.event-page {
  position: relative;
  background: white;
  color: black;
  border: 1px solid black;
  padding: 2rem;
  margin: 1rem;
  border-radius: .5rem;
  font-family: Arial;
}


/* LEDGER */

.ledger-container {
  padding: 1rem;
}


.ledger-list {
  display: flex;
  justify-content: center;
}

.ledger-item {
  margin: 1rem;
}
/*flex items-center justify-end space-x-2 py-4*/
.table-buttons {
  display: flex;
  justify-content: space-between;
  padding: 1rem, 0;
}

@media (max-width: 500px) {
  
}

/*PROFILE */
.profile-data {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}



/*TEMPORARY */

.clickable {
  color: purple;
  text-decoration: underline;
}